body{
    background: url('../img/stars.jpg') #cecece;
}

#container{
    margin: 10px 0 10px 20px;
}

button{
    width: 130px;
    background: #333;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 50%;
    color: pink;
}

button:hover{
    border-radius:0%;
    background: #ff82ab;
    border-radius: 50%;
}

#objectToBeActedUpon{
    height: 130px;
    width: 260px;
    background: url('../img/milleniumFalcon.png');
    background-size: cover;
    margin: 10px 0 0 0;
    position: relative;

}
